body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .3s; }
  .heading-secondary:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1); }

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  text-align: justify; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
