.about {
  background-color: aquamarine;
  margin-bottom: 2rem;
  height: 100vh;
  width: 80vw; }

.header {
  background-color: green;
  margin: 4rem;
  height: 10vh;
  width: 80vw; }

.projects {
  background-color: purple;
  color: pink;
  margin-bottom: 3rem;
  height: 100vh;
  width: 80vw; }

.weather {
  font-size: 3rem;
  margin-bottom: 3rem;
  height: 80vh;
  width: 80vw;
  position: relative; }
  .weather__text::first-letter {
    text-transform: capitalize; }
  .weather__text {
    position: absolute;
    top: 10%;
    left: 10%;
    display: block;
    color: red;
    z-index: 10; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7; }

body {
  font-size: 2rem;
  height: 50vh;
  width: 50vw; }

.overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw; }
