/*
0 - 600 px:     Phone
600 - 900 px:   Tablet portrait
900 - 1200 px:  Tablet landscape
[1200 - 1800 px] is where our normal styles apply
1800+ px:       Big screens
  1em = 16px
*/
.section-about {
  background-color: #eeeeee;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 5rem;
  border-radius: 7px;
  padding: 7rem; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 4rem; } }

.about {
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 2rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .about {
      grid-row-gap: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .about__text {
    display: block;
    text-indent: 1.4rem;
    font-size: 1.8rem;
    width: 25vw; }
    @media only screen and (max-width: 37.5em) {
      .about__text {
        width: 100%; } }
    .about__text.p-1 {
      grid-column: 1 / span 1; }
    .about__text.p-2 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1; }
      @media only screen and (max-width: 75em) {
        .about__text.p-2 {
          margin-top: -7rem; } }
      @media only screen and (max-width: 37.5em) {
        .about__text.p-2 {
          margin-top: 2rem; } }

.card-2 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1; }

.project__card {
  height: 50vh;
  width: 75vw;
  perspective: 100rem;
  position: relative;
  align-self: start; }
  @media only screen and (max-width: 37.5em) {
    .project__card {
      width: 80vw; } }
  .project__card__side {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1.5s; }
    .project__card__side--front {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden; }
    .project__card__side--back {
      transform: rotateY(180deg);
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden; }
      @media only screen and (max-width: 56.25em) {
        .project__card__side--back {
          display: none; } }
  .project__card:hover .project__card__side--front {
    transform: rotateY(180deg); }
    @media only screen and (max-width: 37.5em) {
      .project__card:hover .project__card__side--front {
        transform: rotateY(0deg); } }
  .project__card:hover .project__card__side--back {
    transform: rotateY(0deg); }
  .project__card--front-1 {
    background-image: url("../img/portfolio-10.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    @media only screen and (max-width: 75em) {
      .project__card--front-1 {
        margin-top: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .project__card--front-1 {
        margin-top: 1rem;
        margin-bottom: 2rem; } }
  .project__card--front-2 {
    background-image: url("../img/portfolio-21.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    @media only screen and (max-width: 37.5em) {
      .project__card--front-2 {
        margin-top: 1rem;
        margin-bottom: 1rem; } }
  .project__card--back-1 {
    background-image: url("../img/portfolio-17.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .project__card--back-2 {
    background-image: url("../img/portfolio-22.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

/*
0 - 600 px:     Phone
600 - 900 px:   Tablet portrait
900 - 1200 px:  Tablet landscape
[1200 - 1800 px] is where our normal styles apply
1800+ px:       Big screens
  1em = 16px
*/
.section__header {
  background-color: #eeeeee;
  width: 100%;
  height: 7rem;
  margin-bottom: 4rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding-left: 3rem; }

.header {
  width: 100%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .header {
      justify-content: space-evenly; } }
  .header__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 12vw;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 5rem 0 5rem;
    border-bottom: 2px solid #c5c5c5;
    border-top: 1px solid transparent;
    transition: all .6s;
    flex-shrink: 0; }
    @media only screen and (max-width: 37.5em) {
      .header__link {
        width: 24vw;
        font-size: 1.4rem; } }
  .header__link:link, .header__link:visited {
    color: black; }
  .header__link:hover, .header__link:active {
    border-bottom: 2px solid #383838;
    border-top: 1px solid #c5c5c5;
    box-shadow: 0 1rem 1rem #9e9e9e; }

/*
0 - 600 px:     Phone
600 - 900 px:   Tablet portrait
900 - 1200 px:  Tablet landscape
[1200 - 1800 px] is where our normal styles apply
1800+ px:       Big screens
  1em = 16px
*/
.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 60vh;
  width: 100%;
  border-radius: 7px;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .weather {
      height: 80vh; } }
  @media only screen and (max-width: 56.25em) {
    .weather {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .weather {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 30% 1fr;
      justify-items: center; } }
  .weather__text {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 7rem;
    margin-left: 7rem;
    padding: 6rem 4rem 4rem 4rem;
    text-align: center;
    height: 80%;
    border-radius: 7px; }
    @media only screen and (max-width: 37.5em) {
      .weather__text {
        width: 80%;
        height: 20%;
        margin: 0;
        padding: 3rem; } }
    .weather__text img {
      height: 10rem;
      width: 10rem;
      display: block; }
      @media only screen and (max-width: 56.25em) {
        .weather__text img {
          height: 7rem;
          width: 7rem; } }
      @media only screen and (max-width: 37.5em) {
        .weather__text img {
          display: none; } }

.bg-video {
  height: 100%;
  margin-left: auto;
  width: 70%;
  object-fit: cover;
  align-self: stretch;
  border-radius: 7px;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .bg-video {
      width: 100%;
      height: 100%;
      object-fit: cover; } }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.weather--ClearDay {
  background-color: #97bafcc9;
  border: 3px solid #1c85db;
  border-radius: 7px;
  overflow: hidden; }
  .weather--ClearDay p {
    color: #356397;
    background-color: #a0dff8; }
  .weather--ClearDay .bg-video {
    border: 2px solid #284964; }

.weather--RainyDay {
  background-color: #60738b;
  border: 3px solid #023477;
  border-radius: 7px;
  overflow: hidden; }
  .weather--RainyDay p {
    color: #f1f1f1;
    background-color: #445f81; }
  .weather--RainyDay .bg-video {
    border: 2px solid #577daf; }

.weather--SnowyDay {
  background-color: #47534d;
  border: 3px solid #3f4b3c;
  border-radius: 7px;
  overflow: hidden; }
  .weather--SnowyDay p {
    color: #e0eeea;
    background-color: #839b8f; }
  .weather--SnowyDay .bg-video {
    border: 2px solid #4d5849; }

.weather--GreySky {
  background-color: #a59e89;
  border: 3px solid #47443b;
  border-radius: 7px;
  overflow: hidden; }
  .weather--GreySky p {
    color: #cfc7af;
    background-color: #645f51; }
  .weather--GreySky .bg-video {
    border: 2px solid #807a6a; }

.weather--ClearNight {
  background-color: #23272e;
  border: 3px solid #373e47;
  border-radius: 7px;
  overflow: hidden; }
  .weather--ClearNight p {
    color: #b8b8b9;
    background-color: #2f455a; }
  .weather--ClearNight .bg-video {
    border: 2px solid #5f6c7c; }

.weather--RainyNight {
  background-color: #551414;
  border: 3px solid #8a7979;
  border-radius: 7px;
  overflow: hidden; }
  .weather--RainyNight p {
    color: #b9b9b9;
    background-color: #250000; }
  .weather--RainyNight .bg-video {
    border: 2px solid #5e5252; }

.weather--SnowyNight {
  background-color: #0e1a31;
  border: 3px solid #a2c4f7;
  border-radius: 7px;
  overflow: hidden; }
  .weather--SnowyNight p {
    color: #f4f7fc;
    background-color: #19317577; }
  .weather--SnowyNight .bg-video {
    border: 2px solid #b4c5f5; }

.portfolio {
  width: 100%;
  background-image: linear-gradient(#eeeeee 0%, #b4b4b4 25%, #6b6a6a 50%, #b4b4b4 75%, #eeeeee 100%);
  height: 90vh;
  margin: 4rem 0 4rem 0;
  border-radius: 7px;
  overflow: hidden;
  transition: all 1s; }

.project__text {
  font-size: 1.8rem;
  color: #1d1d1d;
  z-index: 100;
  background: transparent;
  grid-row: 2 / span 1;
  width: 75%;
  transition: all 1s;
  display: none;
  text-align: center; }

.projects__gallery {
  height: 100%;
  position: relative;
  transition: all 1s;
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 22% 78%;
  align-items: start; }
  @media only screen and (max-width: 75em) {
    .projects__gallery {
      grid-template-rows: 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .projects__gallery {
      grid-template-columns: 5rem 1fr 5rem;
      grid-template-rows: 22% 78%; } }

.projects__list {
  text-align: center;
  opacity: 0;
  transition: all 1s;
  height: 65%;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 40%;
  grid-row-gap: 5rem;
  align-items: start;
  justify-items: center; }
  @media only screen and (max-width: 37.5em) {
    .projects__list {
      grid-template-columns: 1fr;
      height: 80%; } }
  .projects__list.active {
    opacity: 1; }
  .projects__list li.visible {
    display: block; }
  .projects__list__item {
    display: none;
    list-style: none;
    width: 78%;
    height: auto;
    position: relative;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);
    transition: all 1s; }
    @media only screen and (max-width: 37.5em) {
      .projects__list__item {
        width: 100%; } }
    .projects__list__item:hover {
      margin-top: -5rem;
      transform: scale(1.3);
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
      z-index: 10;
      transition: all 1s; }
      @media only screen and (max-width: 75em) {
        .projects__list__item:hover {
          margin-top: -1rem;
          transform: scale(1.05); } }
  .projects__list__photo {
    border: none;
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    z-index: 1; }

.arrow {
  background: url("../img/arrows.png") no-repeat;
  width: 2.8rem;
  height: 2.8rem;
  opacity: .7;
  overflow: hidden;
  cursor: pointer;
  display: block; }
  @media only screen and (max-width: 75em) {
    .arrow {
      width: 3.1rem;
      height: 3.1rem; } }
  .arrow:hover {
    opacity: 1; }
  .arrow.next {
    background-position: top right;
    position: absolute;
    bottom: 47%;
    right: 5%; }
  .arrow.prev {
    position: absolute;
    bottom: 47%;
    left: 5%;
    display: none; }

.projects__gallery__helper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#6b6a6a 0%, #b4b4b4 25%, #eeeeee 50%, #b4b4b4 75%, #6b6a6a 100%);
  opacity: 0;
  transition: opacity 2s; }

.visible {
  display: block; }

.focused {
  transform: scale(1.3) translateY(3rem); }
  @media only screen and (max-width: 75em) {
    .focused {
      transform: scale(1.1) translateY(1.5rem); } }

.shrink {
  transform: scale(0.95); }

.project-1 {
  background-image: linear-gradient(#e67d22cc, #555555cc) !important; }

.project-2 {
  background-image: linear-gradient(#7ed56fcc, #2b5b4b) !important; }

.project-3 {
  background-image: linear-gradient(#eb2f64, #BA265D) !important; }

.project-4 {
  background-image: linear-gradient(#c69963, #54483A) !important; }

.project-5 {
  background-image: linear-gradient(#FF5049, #28B9B5) !important; }

.project-6 {
  background-image: linear-gradient(#FBDB89, #F48982) !important; }

.project-7 {
  background-image: linear-gradient(#f7dfa5, #8a0900) !important; }

.footer {
  font-size: 1.2rem;
  color: #202020;
  background-color: #eeeeee;
  margin-bottom: 3rem;
  height: 15vh;
  width: 100%;
  padding: 1.5rem;
  border-radius: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      height: 20vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center; } }
  .footer__links {
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .footer__links {
        grid-column: 2 / span 1;
        margin-bottom: 1rem; } }
  .footer__icon {
    height: 2.5rem;
    width: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__icon {
        height: 1.7rem;
        width: 1.7rem; } }

.footer__text {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .footer__text {
      grid-column: 1 / span 1;
      grid-row: 2; } }

.tools__icon {
  height: 1.7rem;
  width: 1.7rem; }
  @media only screen and (max-width: 37.5em) {
    .tools__icon {
      height: 1.4rem;
      width: 1.4rem;
      margin-top: .5rem; } }

.mailto__link {
  text-decoration: none;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center; }

.mailto__link:link,
.mailto__link:visited,
.mailto__link:active {
  color: #202020; }

/*
0 - 600 px:     Phone
600 - 900 px:   Tablet portrait
900 - 1200 px:  Tablet landscape
[1200 - 1800 px] is where our normal styles apply
1800+ px:       Big screens
  1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7;
  background-color: #f8f8f8; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.8rem;
  width: 90vw;
  padding: 5rem;
  margin: 5rem 5vw 5rem 5vw; }
  @media only screen and (max-width: 75em) {
    body {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    body {
      font-size: 50%;
      padding: 2rem;
      margin: 3rem 4vw 3rem 4vw; } }
  @media only screen and (max-width: 37.5em) {
    body {
      font-size: 43%; } }

.overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw; }

.spinner {
  font-size: 1.7rem;
  color: #0c6969;
  border: 1px solid #119191;
  border-radius: 7px;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .spinner p {
    display: block;
    margin-top: 3rem; }
