/*
0 - 600 px:     Phone
600 - 900 px:   Tablet portrait
900 - 1200 px:  Tablet landscape
[1200 - 1800 px] is where our normal styles apply
1800+ px:       Big screens
  1em = 16px
*/
.section-about {
  background-color: rgba(237, 237, 237, 0.1);
  min-height: 100vh;
  width: 100%;
  margin-bottom: 5rem;
  border-radius: 7px;
  padding: 7rem;
  letter-spacing: 1px; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 4rem; } }

.about {
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 2rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .about {
      grid-row-gap: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .about__text {
    display: block;
    text-indent: 1.4rem;
    font-size: 1.6rem;
    line-height: 3rem;
    width: 25vw; }
    @media only screen and (max-width: 37.5em) {
      .about__text {
        width: 100%; } }
    .about__text.p-1 {
      grid-column: 1 / span 1; }
      @media only screen and (max-width: 37.5em) {
        .about__text.p-1 {
          margin-top: 2rem; } }
    .about__text.p-2 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1; }
      @media only screen and (max-width: 75em) {
        .about__text.p-2 {
          margin-top: -7rem; } }
      @media only screen and (max-width: 37.5em) {
        .about__text.p-2 {
          margin-top: 2rem; } }

.card-2 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1; }

.project__card {
  height: 50vh;
  width: 75vw;
  perspective: 100rem;
  position: relative;
  align-self: center; }
  @media only screen and (max-width: 37.5em) {
    .project__card {
      width: 90%;
      perspective: none; } }
  .project__card__side {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1.5s; }
    .project__card__side--front {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden; }
    .project__card__side--back {
      transform: rotateY(180deg);
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden; }
      @media only screen and (max-width: 56.25em) {
        .project__card__side--back {
          display: none; } }
  .project__card:hover .project__card__side--front {
    transform: rotateY(180deg); }
    @media only screen and (max-width: 37.5em) {
      .project__card:hover .project__card__side--front {
        transform: rotateY(0deg); } }
  .project__card:hover .project__card__side--back {
    transform: rotateY(0deg); }
  .project__card--front-1 {
    background-image: url("../img/portfolio-10.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    @media only screen and (max-width: 75em) {
      .project__card--front-1 {
        margin-top: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .project__card--front-1 {
        margin-top: 2rem; } }
  .project__card--front-2 {
    background-image: url("../img/portfolio-21.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    @media only screen and (max-width: 37.5em) {
      .project__card--front-2 {
        margin-top: 1rem;
        margin-bottom: 1rem; } }
  .project__card--back-1 {
    background-image: url("../img/portfolio-17.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .project__card--back-2 {
    background-image: url("../img/portfolio-22.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

/*
0 - 600 px:     Phone
600 - 900 px:   Tablet portrait
900 - 1200 px:  Tablet landscape
[1200 - 1800 px] is where our normal styles apply
1800+ px:       Big screens
  1em = 16px
*/
.section__header {
  width: 100%;
  height: 7rem;
  margin-bottom: 4rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  font-size: 2rem; }

.header {
  width: 100%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .header {
      justify-content: flex-start; } }
  .header__menu-lang {
    font-size: inherit;
    margin-right: 5rem;
    font-size: 3rem; }
  .header__link {
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 20rem;
    position: relative; }
    .header__link::before {
      content: "";
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: white;
      position: absolute;
      left: 0;
      top: 0;
      transition: all .4s;
      overflow: hidden;
      transform: scaleX(0.0001);
      border-radius: 5px; }
    @media only screen and (max-width: 37.5em) {
      .header__link {
        width: 24vw;
        font-size: 1.4rem; } }
  .header__link:link, .header__link:visited {
    color: white; }
  .header__link:hover, .header__link:active {
    color: black; }
    .header__link:hover::before, .header__link:active::before {
      transform: scaleX(1);
      z-index: -1;
      opacity: 1; }

/*
0 - 600 px:     Phone
600 - 900 px:   Tablet portrait
900 - 1200 px:  Tablet landscape
[1200 - 1800 px] is where our normal styles apply
1800+ px:       Big screens
  1em = 16px
*/
.aux {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.to-be {
  width: 40%;
  height: 50vh;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .to-be {
      display: none; } }
  .to-be img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: .2; }
  .to-be__text {
    position: absolute;
    top: 4rem;
    left: 4rem;
    color: black;
    font-size: 2.5rem; }

#weather {
  margin-left: auto; }

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 50vh;
  width: 50vw;
  border-radius: 7px;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .weather {
      height: 80vh;
      width: 90vw; } }
  @media only screen and (max-width: 56.25em) {
    .weather {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 37.5em) {
    .weather {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 30% 1fr;
      justify-items: center; } }
  .weather__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 7rem;
    margin-left: 7rem;
    padding: 6rem 4rem 4rem 4rem;
    text-align: center;
    height: 80%;
    border-radius: 7px; }
    @media only screen and (max-width: 37.5em) {
      .weather__text {
        width: 80%;
        height: 20%;
        margin: 0;
        padding: 3rem; } }
    .weather__text img {
      height: 8rem;
      width: 8rem;
      display: block; }
      @media only screen and (max-width: 56.25em) {
        .weather__text img {
          height: 7rem;
          width: 7rem; } }
      @media only screen and (max-width: 37.5em) {
        .weather__text img {
          display: none; } }

.bg-video {
  height: 100%;
  margin-left: auto;
  width: 70%;
  object-fit: cover;
  align-self: stretch;
  border-radius: 7px;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .bg-video {
      width: 100%;
      height: 100%;
      object-fit: cover; } }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.weather--ClearDay {
  background-color: rgba(151, 186, 252, 0.3);
  border-radius: 7px;
  overflow: hidden; }
  .weather--ClearDay p {
    color: #134781;
    background-color: rgba(120, 173, 194, 0.7); }

.weather--RainyDay {
  background-color: rgba(96, 115, 139, 0.5);
  border-radius: 7px;
  overflow: hidden; }
  .weather--RainyDay p {
    color: #f1f1f1;
    background-color: rgba(68, 95, 129, 0.7); }

.weather--SnowyDay {
  background-color: rgba(71, 83, 77, 0.5);
  border-radius: 7px;
  overflow: hidden; }
  .weather--SnowyDay p {
    color: #e0eeea;
    background-color: rgba(131, 155, 143, 0.7); }

.weather--GreySky {
  background-color: rgba(199, 188, 156, 0.3);
  border-radius: 7px;
  overflow: hidden; }
  .weather--GreySky p {
    color: #cfc7af;
    background-color: rgba(100, 95, 81, 0.7); }

.weather--ClearNight {
  background-color: rgba(35, 39, 46, 0.5);
  border-radius: 7px;
  overflow: hidden; }
  .weather--ClearNight p {
    color: #b8b8b9;
    background-color: rgba(47, 69, 90, 0.7); }

.weather--RainyNight {
  background-color: rgba(85, 20, 20, 0.5);
  border-radius: 7px;
  overflow: hidden; }
  .weather--RainyNight p {
    color: #b9b9b9;
    background-color: rgba(37, 0, 0, 0.7); }

.weather--SnowyNight {
  background-color: rgba(14, 26, 49, 0.5);
  border-radius: 7px;
  overflow: hidden; }
  .weather--SnowyNight p {
    color: #f4f7fc;
    background-color: rgba(25, 50, 117, 0.7); }

.animate span {
  display: inline-block; }

.animate span:nth-of-type(2) {
  animation-delay: .05s; }

.animate span:nth-of-type(3) {
  animation-delay: .1s; }

.animate span:nth-of-type(4) {
  animation-delay: .15s; }

.animate span:nth-of-type(5) {
  animation-delay: .2s; }

.animate span:nth-of-type(6) {
  animation-delay: .25s; }

.animate span:nth-of-type(7) {
  animation-delay: .3s; }

.animate span:nth-of-type(8) {
  animation-delay: .35s; }

.animate span:nth-of-type(9) {
  animation-delay: .4s; }

.animate span:nth-of-type(10) {
  animation-delay: .45s; }

.animate span:nth-of-type(11) {
  animation-delay: .5s; }

.animate span:nth-of-type(12) {
  animation-delay: .55s; }

.animate span:nth-of-type(13) {
  animation-delay: .6s; }

.animate span:nth-of-type(14) {
  animation-delay: .65s; }

.animate span:nth-of-type(15) {
  animation-delay: .7s; }

.animate span:nth-of-type(16) {
  animation-delay: .75s; }

.animate span:nth-of-type(17) {
  animation-delay: .8s; }

.animate span:nth-of-type(18) {
  animation-delay: .85s; }

.animate span:nth-of-type(19) {
  animation-delay: .9s; }

.animate span:nth-of-type(20) {
  animation-delay: .95s; }

.four span {
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 3s forwards infinite; }

@keyframes revolveDrop {
  30% {
    transform: translate(0, 0) rotate(180deg) scale(1); }
  60% {
    transform: translate(0, 0) scale(0.8) rotate(0deg); }
  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1; } }

.portfolio {
  width: 100%;
  background-image: linear-gradient(rgba(238, 238, 238, 0.3) 0%, rgba(180, 180, 180, 0.5) 25%, rgba(107, 106, 106, 0.5) 50%, rgba(180, 180, 180, 0.5) 75%, rgba(237, 237, 237, 0.3) 100%);
  height: 100vh;
  margin: 4rem 0 4rem 0;
  border-radius: 7px;
  overflow: hidden;
  transition: all 1s;
  position: relative;
  padding: 10rem 15rem 5rem 15rem; }
  .portfolio__header {
    display: block;
    position: absolute;
    top: 5rem;
    left: 5rem;
    font-size: 3rem; }

.project {
  color: white;
  text-align: center; }
  .project__title {
    font-size: 1.8rem;
    text-align: center; }
  .project__link, .project__link:visited {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    display: block;
    position: relative;
    margin-bottom: 1.5rem; }
    .project__link::before, .project__link:visited::before {
      content: "";
      height: 1px;
      width: 5%;
      opacity: 0;
      position: absolute;
      left: 47.5%;
      top: 100%;
      transition: all .4s;
      overflow: hidden;
      transform: scaleX(0.0001);
      border-radius: 5px; }
    .project__link:hover, .project__link:visited:hover {
      color: black; }
      .project__link:hover::before, .project__link:visited:hover::before {
        background-color: #02e0d5;
        transform: scaleX(1);
        opacity: 1; }
  .project__photo {
    width: 45%;
    height: auto;
    display: block;
    margin: 2rem auto;
    transition: all 1s;
    box-shadow: 5px 5px 17px 5px rgba(70, 71, 71, 0.582); }
    .project__photo:hover {
      transform: scale(1.2) translateY(-20px); }
  .project__text {
    font-size: 1.8rem;
    background: transparent;
    width: 90;
    margin: 5rem auto 3rem auto;
    text-align: left; }

.projects__gallery__helper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#6b6a6a 0%, #b4b4b4 25%, #eeeeee 50%, #b4b4b4 75%, #6b6a6a 100%);
  opacity: 0;
  transition: opacity 2s; }

.visible {
  display: block; }

.focused {
  transform: scale(1.3) translateY(3rem); }
  @media only screen and (max-width: 75em) {
    .focused {
      transform: scale(1.1) translateY(1.5rem); } }

.shrink {
  transform: scale(0.95); }

.project-1 {
  background-image: linear-gradient(#e67d22cc, #555555cc) !important; }

.project-2 {
  background-image: linear-gradient(#7ed56fcc, #2b5b4b) !important; }

.project-3 {
  background-image: linear-gradient(#eb2f64, #BA265D) !important; }

.project-4 {
  background-image: linear-gradient(#c69963, #54483A) !important; }

.project-5 {
  background-image: linear-gradient(#FF5049, #28B9B5) !important; }

.project-6 {
  background-image: linear-gradient(#FBDB89, #F48982) !important; }

.project-7 {
  background-image: linear-gradient(#f7dfa5, #8a0900) !important; }

.footer {
  font-size: 1.2rem;
  background-color: rgba(238, 238, 238, 0.1);
  margin-bottom: 3rem;
  height: 15vh;
  width: 100%;
  padding: 1.5rem;
  border-radius: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      height: 20vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center; } }
  .footer__links {
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .footer__links {
        grid-column: 2 / span 1;
        margin-bottom: 1rem; } }
  .footer__icon {
    height: 2.5rem;
    width: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__icon {
        height: 1.7rem;
        width: 1.7rem; } }

.gmail__icon {
  backdrop-filter: brightness(2);
  height: 2rem; }

.footer__text {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .footer__text {
      grid-column: 1 / span 1;
      grid-row: 2; } }

.tools__icon {
  height: 1.7rem;
  width: 1.7rem; }
  @media only screen and (max-width: 37.5em) {
    .tools__icon {
      height: 1.4rem;
      width: 1.4rem;
      margin-top: .5rem; } }

.mailto__link {
  text-decoration: none;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center; }

.mailto__link:link,
.mailto__link:visited,
.mailto__link:active {
  color: white; }

/*
0 - 600 px:     Phone
600 - 900 px:   Tablet portrait
900 - 1200 px:  Tablet landscape
[1200 - 1800 px] is where our normal styles apply
1800+ px:       Big screens
  1em = 16px
*/
.main-carousel {
  height: 100%;
  padding-top: 4rem; }

.carousel-cell {
  width: 100%;
  /* full width */
  height: 100%;
  /* height of carousel */
  margin-right: 10px; }

/* smaller, dark, rounded square */
.flickity-button {
  background: #333; }

.flickity-button:hover {
  background: #02e0d5; }

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px; }

/* icon color */
.flickity-button-icon {
  fill: white; }

/* position outside */
.flickity-prev-next-button.previous {
  left: -40px; }

.flickity-prev-next-button.next {
  right: -40px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7;
  display: flex;
  justify-content: center;
  background-color: #0a131b;
  color: white;
  /* ============== NEEDS MORE WORK =================
    @include respond(tab-port) {
        font-size: 50%;
        background-image: url(../../src/img/pexels-bg.jpeg);
        backdrop-filter: brightness(.7);
        // position: fixed; 
    }
==================*/ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.8rem;
  width: 100vw;
  padding: 5rem;
  margin: 5rem 5vw 5rem 5vw; }
  @media only screen and (max-width: 75em) {
    body {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    body {
      font-size: 50%;
      padding: 2rem;
      margin: 3rem 4vw 3rem 4vw; } }
  @media only screen and (max-width: 37.5em) {
    body {
      font-size: 43%; } }

.overall__bg__video {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  z-index: -10;
  filter: brightness(0.5);
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .overall__bg__video {
      display: none; } }
  .overall__bg__video > video {
    display: block;
    position: fixed;
    object-fit: fill;
    width: 100vw;
    height: 100vh; }

.overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  z-index: 10; }

.spinner {
  font-size: 1.7rem;
  color: #0c6969;
  border: 1px solid #119191;
  border-radius: 7px;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .spinner p {
    display: block;
    margin-top: 3rem; }
