@import "mixins";

.section-about {
    background-color: #eeeeee;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 5rem;
    border-radius: 7px;
    // display: flex;
    // justify-content: center;
    padding: 7rem;
    
    @include respond(tab-port) {
        padding: 4rem;
    }
}

.about {    
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;

    @include respond(tab-port) {
        grid-row-gap: 8rem;
    }

    @include respond(phone) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;

    }

    &__text {
        display: block;
        text-indent: 1.4rem;
        font-size: 1.8rem;
        width: 25vw;

        @include respond(phone) {
            width: 100%;
        }
        
        &.p-1 {
            // align-self: start;
            grid-column: 1 / span 1;  
        }

        &.p-2 {
            
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;

            @include respond(tab-land) {
               margin-top: -7rem; 
            }

            @include respond(phone) {
                margin-top: 2rem;
            }
    
        }   
    }  
}
.card-2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}
.project__card {
    height: 50vh;
    width: 75vw;
    perspective: 100rem;
    position: relative;
    align-self: start;
    // display: block;
    
    @include respond(phone) {
        width: 80vw;
       
    }
    

    &__side {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1.5s;
        
        // width: 100%;
        // @include respond(phone){
        //     position: unset;
        // }
            
        // @include respond(tab-port) {
        //     position: unset;
        //     top:50%;
        //     left: 50%;
        // }
    
       
        
        &--front {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden; 
            
           
        }
 
        &--back {
            transform: rotateY(180deg);
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            
            @include respond(tab-port) {
                display: none;
            }
        }
    }
    
    &:hover &__side--front {
        transform: rotateY(180deg);

        @include respond(phone) {
            transform: rotateY(0deg);
        }
            
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    &--front-1 {
        background-image: url("../img/portfolio-10.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position:  center;

        @include respond(tab-land) {
            margin-top: 7rem;
        }

        @include respond(phone) {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
       
    }

    &--front-2 {
        background-image: url("../img/portfolio-21.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position:  center;

        @include respond(phone) {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
    }

   
    &--back-1 {
        background-image: url("../img/portfolio-17.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        background-position:  center;
        
    }

    &--back-2 {
        background-image: url("../img/portfolio-22.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position:  center;
    }   
}


// @include respond(tab-port) {
//     .card-2 {
//         grid-column: 1 / span 1;
//         grid-row: 2 / span 1;
//     }
// }