.about-section {
    background-color: #eeeeee;
    height: 100vh;
    width: 100%;
    margin-bottom: 5rem;
    border-radius: 7px;
    display: flex;
    padding: 5rem;
    
    

   
}

.about {    
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 5rem;
    justify-items: center;
    align-items: center;

    

    &__text { 
        text-indent: 1.4rem;
        font-size: 1.8rem;
        width: 25vw;
        
        &.p-1 {
            align-self: start;   
        }

        &.p-2 {
            align-self: end; 
        }   
    }  
}


.project__card {
    height: 100%;
    width: 40vw;
    
    perspective: 100rem;
    position: relative;
    

    &__side {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1.5s;
       
        
        &--front {
            width: 100%;
            height: 100%;     
        }
 
        &--back {
            transform: rotateY(180deg);
            width: 100%;
            height: 100%;             
        }
    }
    
    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    &--front-1 {
        background-image: url("../img/portfolio-10.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position:  center;
       
    }

    &--front-2 {
        background-image: url("../img/portfolio-21.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position:  center;
    }

   
    &--back-1 {
        background-image: url("../img/portfolio-17.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        background-position:  center;
    }

    &--back-2 {
        background-image: url("../img/portfolio-22.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position:  center;
    }   
}

