.footer {
    font-size: 1.2rem;
    color: #cacaca;
    background-color: #013b57;
    margin-top: 4rem;
    height: 10vh;
    width: 100%;
    padding: 1.5rem;
    border-radius: 7px;

    a {
        color: white;
    }

    img {
        height: 2rem;
        width: 2rem;
    }
}

