.footer {
    font-size: 1.2rem;
    color: #202020;
    background-color: #eeeeee;
    margin-bottom: 4rem;
    height: 10vh;
    width: 100%;
    padding: 1.5rem;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;

    &__links:visited,
    &__links:active {    
        display: block;
    }

    &__icon {  
        height: 2.5rem;
        width: 2.5rem;
    }
    
}

.footer__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools__icon {
    height: 1.7rem;
    width: 1.7rem;
    // box-shadow: .5rem .5rem .5rem #d1d1d1;
}


.mailto__link {
    text-decoration: none;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mailto__link:link,
.mailto__link:visited {
    color: #202020;
}

