.portfolio {
	width: 100%;
	background-image: linear-gradient(rgba(238, 238, 238, 0.3) 0%, #b4b4b4 25%, #6b6a6a 50%, #b4b4b4 75%, rgba(237, 237, 237, 0.3) 100%);
	height: 90vh;
    margin: 4rem 0 4rem 0;
	border-radius: 7px;
	overflow: hidden;
	transition: all 1s;

	// @include respond(phone) {
	// 	// height: 50vh;
	// }
	
}

.project__text {
	font-size: 1.8rem;
	color: #1d1d1d;
	z-index: 100;
	background: transparent;
	grid-row: 2 / span 1;
	width: 75%;
	transition: all 1s;	
	display: none;
	text-align: center;

	// @include respond(phone) {
	// 	width: 80%;
	// }
		
}

.projects__gallery {   
	height: 100%;
	position: relative;
	transition: all 1s;
	display: grid;
	grid-template-columns: 10rem 1fr 10rem;
	grid-template-rows: 22% 78%;
	align-items: start;

	@include respond(tab-land) {
		grid-template-rows: 1fr;
	}

	@include respond(phone) {
		grid-template-columns: 5rem 1fr 5rem;
		grid-template-rows: 10% 1fr;
	}
}


.projects__list {
	
	text-align:center;
	opacity:0;
	transition: all 1s;
	height: 65%;

	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
	

	display: grid;
	grid-template-columns:  repeat(3, 1fr);
	grid-template-rows: 1fr 40%;
	grid-row-gap: 5rem;
	align-items: start;
	justify-items: center;

	@include respond(phone) {
		grid-template-columns: 1fr;
		height: 80%;
	}
	
	&.active {
		opacity:1;	
	}

	& li.visible {
		display: block;		
	}

	&__item {
		display: none;
		list-style:none;
		width: 78%;
		height: auto;
		position: relative;
		box-shadow: 0 .5rem 3rem rgba(#000, .3);
		transition: all 1s;

		@include respond(phone) {
			width: 100%;
		}

		&:hover {
			margin-top: -5rem;
			transform: scale(1.3);
			box-shadow: 0 2rem 5rem rgba(#000, .5);
			z-index: 10;
			transition: all 1s;

			@include respond(tab-land) {
				margin-top: -1rem;
				transform: scale(1.05);
			}
	
		}
	}

	&__photo {
		border: none;
		width: 100%;
		height: auto;
		display: block;
		max-width:100%;
		z-index: 1;
	}
}

.arrow {
	background:url('../img/arrows.png') no-repeat;
	width: 2.8rem;
	height: 2.8rem;
	opacity: .7;
	// text-indent: -10rem;
	overflow: hidden;
	cursor: pointer;
	display: block;

	@include respond(tab-land) {
		width: 3.1rem;
		height: 3.1rem;
	}
	

	&:hover {
		opacity:1;
	}
	
	&.next {
		background-position:top right;
		position:absolute;
		bottom:47%;
		right: 5%;
	
	}

	&.prev {
		position:absolute;
		bottom:47%;
		left: 5%;
		display:none;
	}
}

// =========== HELPERS ============//

.projects__gallery__helper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(#6b6a6a 0%, #b4b4b4 25%, #eeeeee 50%, #b4b4b4 75%, #6b6a6a 100%);
	opacity: 0;
	transition: opacity 2s;
	
}

.visible {
	display: block;
}

.focused {
	transform: scale(1.3) translateY(3rem);

	@include respond(tab-land) {
		transform: scale(1.1) translateY(1.5rem);
	}
	
}

.shrink {
	transform: scale(.95);
}

//============BACKGROUNDS===============//
.project-1 {

	background-image: linear-gradient(#e67d22cc, #555555cc ) !important;
	
	
}

.project-2 {
	background-image: linear-gradient(#7ed56fcc, darken(#4ca084, 20%)) !important;
	
}

.project-3 {
	background-image: linear-gradient(#eb2f64, #BA265D) !important;
}

.project-4 {
	background-image: linear-gradient(#c69963, #54483A ) !important;
}

.project-5 {
	background-image: linear-gradient(#FF5049, #28B9B5 ) !important;
}

.project-6 {
	background-image: linear-gradient( #FBDB89, #F48982) !important;
}

.project-7 {
	background-image: linear-gradient( #f7dfa5, #8a0900) !important;
}





