.portfolio {
	width: 100%;
	background-image: linear-gradient(rgba(238, 238, 238, 0.3) 0%, rgba(180, 180, 180, 0.5) 25%, rgba(107, 106, 106, .5) 50%, rgba(180, 180, 180, .5) 75%, rgba(237, 237, 237, 0.3) 100%);
 	margin: 4rem 0 8rem 0;
	border-radius: 7px;
	overflow: hidden;
	transition: all 1s;
	position: relative;
	padding: 10rem 15rem 5rem 15rem;
	height: 900px;
		

	@include respond(phone) {
		padding: 80px 10px 50px 10px;
		// height: 750px;
		font-size: 1.2rem;
	}

	&__header {
		display: block;
		position: absolute;
		top: 5rem;
		left: 5rem;
		font-size: 3rem;
	}

}

.project {
	color: white;
	text-align: center;
	

	&__title {
		font-size: 1.8rem;
		text-align: center;
	}

	&__link {
		width: 10%;
		margin: 0 auto;
		
	}

	&__link,
	&__link:visited {
		text-decoration: none;
		color: white;
		font-size: 1.8rem;
		display: block;
		position: relative;
		margin-bottom: 1.5rem;


		&::before {
      content: "";
      height: 1px;
      width: 100%;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 100%;
      transition: all .4s;
			overflow: hidden;
			transform: scaleX(0.0001);
      border-radius: 5px;
                        
		}
		
		
		&:hover {
			color: black;
			
			&::before {
				background-color: #02e0d5;
        transform: scaleX(1);
        opacity: 1;             
			}
			
		}
		
	}

	&__photo {
		width: 45%;
		height: auto;
		display: block;
		margin: 2rem auto;
		transition: all 1s;
		box-shadow: 5px 5px 17px 5px rgba(70, 71, 71, 0.582);

		&:hover {
			transform: scale(1.2) translateY(-20px);
		}
	
	}

	&__text {
		font-size: 1.8rem;
		background: transparent;
		width: 90%;
		margin: 5rem auto 3rem auto;
		text-align: left;
	}
}


// =========== HELPERS ============//

.projects__gallery__helper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(#6b6a6a 0%, #b4b4b4 25%, #eeeeee 50%, #b4b4b4 75%, #6b6a6a 100%);
	opacity: 0;
	transition: opacity 2s;
	
}

.visible {
	display: block;
}

.focused {
	transform: scale(1.3) translateY(3rem);

	@include respond(tab-land) {
		transform: scale(1.1) translateY(1.5rem);
	}
	
}

.shrink {
	transform: scale(.95);
}

//============BACKGROUNDS===============//
.project-1 {

	background-image: linear-gradient(#e67d22cc, #555555cc ) !important;
	
	
}

.project-2 {
	background-image: linear-gradient(#7ed56fcc, darken(#4ca084, 20%)) !important;
	
}

.project-3 {
	background-image: linear-gradient(#eb2f64, #BA265D) !important;
}

.project-4 {
	background-image: linear-gradient(#c69963, #54483A ) !important;
}

.project-5 {
	background-image: linear-gradient(#FF5049, #28B9B5 ) !important;
}

.project-6 {
	background-image: linear-gradient( #FBDB89, #F48982) !important;
}

.project-7 {
	background-image: linear-gradient( #f7dfa5, #8a0900) !important;
}

  



