
.projects__gallery {
    background-color: #575757;
	height: 80vh;
	position: relative;
	transition: all .8s;
	display: flex;
	justify-content: center;
	align-items: center;

}


.projects__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align:center;
	/* Initially hidden */
	opacity:0;
	
}

.projects__list__item {
	display:none;
	list-style:none;
	width:400px;
	height:100px;
	transition:0.4s all;
}



#carousel.active{
	opacity:1;
}


#carousel li.visible{
	display: block;
}

.projects__list__link {
	// display: block;
}

.projects__list__photo {
	border: none;
	width: 40rem;
	height: auto;
	display: block;
	max-width:100%;
}





/* Creating the cradle below the thumbnails.
	Uses % so that it grows with the image. */
	
// #carousel li:after{
// 	content:'';
// 	background:url('../img/cradle.png') no-repeat top center;
// 	background-size:contain;
// 	bottom: 4%;
//     content: "";
//     height: 50px;
//     left: -6.5%;
//     position: absolute;
//     right: -6.5%;
//     width: auto;
//     z-index: 1;
// }

.projects__list__item:hover{
	// height: 197px;
    margin-top: -10rem;
	// width: 222px;
	transform: scale(1.5);
}

.arrow{
	background:url('../img/arrows.png') no-repeat;
	width: 5rem;
	height: 5rem;
	opacity: .7;
	text-indent:-999px;
	overflow:hidden;
	cursor:pointer;
	display: block;
	// display:none;
	
	// position:absolute;
	// top:50%;
	// left:10%;
	// margin-left:-428px;
	// margin-top:25px;
}

.arrow:hover{
	opacity:1;
}

.arrow.next{
	// margin-left:400px;
	background-position:top right;
	// position:absolute;
	// top:50%;
	// right: 10%;
	
}

.arrow.prev {
	// position:absolute;
	// top:50%;
	// left: 10%;
	display:none;
}



