.portfolio {
	width: 100%;
	background-color: #cacaca;
	height: 80vh;
    margin: 4rem 0 4rem 0;
	border-radius: 7px;
	overflow: hidden;
	transition: all 1s;
	
}
.projects__gallery {   
	height: 100%;
	position: relative;
	
}

.projects__list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align:center;
	/* Initially hidden */
	opacity:0;
	padding-top: 17rem;
	transition: all .8s;

	&:hover &__item:not(:hover) {
		transform: scale(.9);
	}

	&.active {
		opacity:1;
		transition: all .8s;
	}

	& li.visible {
		display: block;
		
		
	}

	&__item {
		display:none;
		list-style:none;
		width: 25%;
		height: auto;
		transition: all .7s;
		position: relative;
		box-shadow: 0 .5rem 3rem rgba(#000, .3);

		&:hover {
			margin-top: -5rem;
			transform: scale(1.3);
			box-shadow: 0 2rem 5rem rgba(#000, .5);
			z-index: 10;
			
		}

	}

	&__photo {
		border: none;
		width: 100%;
		height: auto;
		display: block;
		max-width:100%;
		z-index: 1;
		
	}
}

.arrow {
	background:url('../img/arrows.png') no-repeat;
	width: 2.8rem;
	height: 2.8rem;
	opacity: .7;
	// text-indent: -10rem;
	overflow: hidden;
	cursor: pointer;
	display: block;
	
	// display:none;
	// position:absolute;
	// top:50%;
	// left:10%;
	// margin-left:-428px;
	// margin-top:25px;


	&:hover {
		opacity:1;
	}
	
	&.next {
		background-position:top right;
		position:absolute;
		bottom:15%;
		right: 5%;
	}

	&.prev {
		position:absolute;
		bottom:15%;
		left: 5%;
		display:none;
	}
}

.project-1 {
	background-image: linear-gradient(#e67e22, #555 ) !important;
	
}

.project-2 {
	background-image: linear-gradient(#7ed56f, darken(#28b485, 20%)) !important;
}

.project-3 {
	background-image: linear-gradient(#eb2f64, #BA265D) !important;
}

.project-4 {
	background-image: linear-gradient(#c69963, #54483A ) !important;
}

.project-5 {
	background-image: linear-gradient(#FF5049, #28B9B5 ) !important;
}

.project-6 {
	background-image: linear-gradient( #FBDB89, #F48982) !important;
}

.project-7 {
	background-image: linear-gradient( #f7dfa5, #8a0900) !important;
}





/* Creating the cradle below the thumbnails.
	Uses % so that it grows with the image. */
	
// .projects__list__item::after{
// 	content:'';
// 	background:url('../img/cradle.png') no-repeat top center;
// 	background-size:contain;
// 	top: 150%;
//     content: "";
//     height: 100px;
//     left: -5%;
//     position: absolute;
//     right: -5%;
//     width: 40rem;
// 	z-index: 5;
// 	margin-top: 2rem;
// }




