@import "mixins";

.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 60vh;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;

    @include respond(phone) {

        height: 80vh;

    }


    @include respond(tab-port) {
        font-size: 1.6rem;
    }

    @include respond(phone) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 1fr;
        justify-items: center;
    }
    
        &__text {
        display: flex;
        width: 30%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 7rem;
        margin-left: 7rem;
        padding: 6rem 4rem 4rem 4rem; 
        text-align: center;
        height: 80%;
        border-radius: 7px;

        @include respond(phone) {
            width: 80%;
            height: 20%;
            margin: 0;
            padding: 3rem;
        }

        img {
            height: 10rem;
            width: 10rem;
            display: block;

            @include respond(tab-port) {
                height: 7rem;
                width: 7rem;   
            }
            @include respond(phone) {
                display: none;
            }
            
        } 

    }
}


.bg-video {
     
    height: 100%;
    margin-left: auto;
    width: 70%;
    object-fit: cover;
    align-self: stretch;
    border-radius: 7px;
    overflow: hidden;

    @include respond(phone) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        
         height: 100%;
         width: 100%;
         object-fit: cover;
  
    }

}

.weather--ClearDay {
    background-color: #97bafcc9;
    border: 3px solid #1c85db;
    border-radius: 7px;
    overflow: hidden;

    & p {
        color: #356397;
        background-color: #a0dff8;
    }

    & .bg-video {
        border: 2px solid #284964;
    }
}

.weather--RainyDay {
    background-color: #60738b;
    border: 3px solid #023477;
    border-radius: 7px;
    overflow: hidden;
    & p {
        color: #f1f1f1;
        background-color: #445f81;
    }

    & .bg-video {
        border: 2px solid #577daf;
    }
}

.weather--SnowyDay {
    background-color: #47534d;
    border: 3px solid #3f4b3c;
    border-radius: 7px;
    overflow: hidden;
    & p {
        color: #e0eeea;
        background-color: #839b8f;
    }

    & .bg-video {
        border: 2px solid #4d5849;
    }
}

.weather--GreySky {
    background-color: #a59e89;
    border: 3px solid #47443b;
    border-radius: 7px;
    overflow: hidden;
    & p {
        color: #cfc7af;
        background-color: #645f51;
    }

    & .bg-video {
        border: 2px solid #807a6a;
    }
}

.weather--ClearNight {
    background-color: #23272e;
    border: 3px solid #373e47;
    border-radius: 7px;
    overflow: hidden;
    & p {
        color: #b8b8b9;
        background-color: #2f455a;
    }

    & .bg-video {
        border: 2px solid #5f6c7c;
    }
}

.weather--RainyNight {
    background-color: #551414;
    border: 3px solid #8a7979;
    border-radius: 7px;
    overflow: hidden;
    & p {
        color: #b9b9b9;
        background-color: #250000;
    }

    & .bg-video {
        border: 2px solid #5e5252;
    }
}

.weather--SnowyNight {
    background-color: #0e1a31;
    border: 3px solid #a2c4f7;
    border-radius: 7px;
    overflow: hidden;
    
    & p {
        color: #f4f7fc;
        background-color: #19317577;
    }

    & .bg-video {
        border: 2px solid #b4c5f5;
    }
}


