@import "about";
@import "header";
@import "projects";
@import "weather";
@import "portfolio";
@import "footer";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    line-height: 1.7;
}

body {
    // padding: 3rem;
    font-size: 2rem;
    width: 95vw;
    padding: 4rem;
    
}

.overall {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
}

.spinner {
    font-size: 1.7rem;
    color: #0c6969;
    border: 1px solid #119191;
    border-radius: 7px;
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        display: block;
        margin-top: 3rem;
    }
}


