@import "about";
@import "header";
@import "projects";
@import "weather";
@import "portfolio";
@import "footer";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    line-height: 1.7;
}

body {
    // padding: 3rem;
    font-size: 2rem;
    width: 95vw;
    padding: 4rem;
    
}

.overall {
    
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    
    width: 90vw;
}

.loader {
    margin: 5rem auto;
    text-align: center; }
    .loader svg {
      height: 5.5rem;
      width: 5.5rem;
      fill: #F59A83;
      transform-origin: 44% 50%;
      animation: rotate 1.5s infinite linear;
}
  
@keyframes rotate {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); }
}


