@import "about";
@import "header";
@import "projects";
@import "weather";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    line-height: 1.7;
}

body {
    // padding: 3rem;
    font-size: 2rem;
    
}

.overall {
    // padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

// .main-container {
//    width: 100%;
// }
